.nav {
  height: 90px;
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  .hide_log-out{
    display: none;
  }

  h1{
    color: aliceblue;
  }

  .nav__login{

    .nav__login-name{
      color: aliceblue;
      font-size: 20px;
    }

    .nav__logout-btn{
      margin-left: 20px;
    }


  }


}
