.course-item{
  width: 90%;
  margin: 30px auto;

  .course-item__button_delete{
    margin-left: 20px;
  }
  .course-item__wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .btns-block{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
  }
}
